@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Grand+Hotel&family=Roboto:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', 'sans-serif';
    color: #243e63;
}
html {
    scroll-behavior: smooth;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}
section{
    padding: 0 32px;
} 
nav {
    height: 108px;
    padding: 32px 24px;
    display: flex;
}
div{
    display: block;
    unicode-bidi: isolate;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

.purple{
    color: #7342d6;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*LANDING ----- 
---------NAVIGATION*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__logo {
    height: 90px;
    width: 90px;
    display: flex;
    margin-bottom: 8px;
    padding-top: 16px;
    padding-bottom: 8px;

}

.nav__logo--title{
    font-size:40px;
    font-weight: 900;
    margin-left: 12px;
    padding-top: 4px;
    padding-bottom: 8px;
    letter-spacing: .6px;
}

.nav__links{
    max-width:1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    position: fixed;
    height: 378px;
    margin: 48px 32px;
    padding: 48px;
    
}

.link {
    margin: 0 24px;
    padding: 8px auto;
    padding-bottom: 4px;
    font-size: 24px;
    font-weight:800;
    letter-spacing: 0.6px;
    position: relative;
    align-items: center;
}
.link:hover {
    text-decoration-line: underline;
    text-decoration-color: #7342d6;
    text-decoration-thickness: 2px;
}
.link--primary {
    border: 2px solid #7342d6;
    border-radius: 4px;
    border-style: hidden;
}
/***HEADER BOX****/

.header__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px; /* prevents content from touching screen edges */
 }

.row__column {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.header__container--description {
    max-width: 40%;
}
.header__container--slogan{
    font-size: 48px;
    font-weight: bold;
}
.header__title--customer{
    margin: 16px 0; 
    flex-wrap: wrap;
}


.header__container--img {
   max-width: 60%;
}

.header__img--wrapper img {
  width: 100%;
}
