@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Grand+Hotel&family=Roboto:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', 'sans-serif';
    color: #243e63;
}
html {
    scroll-behavior: smooth;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}
section{
    padding: 0 32px;
} 
nav {
    height: 108px;
    padding: 32px 24px;
    display: flex;
}
div{
    display: block;
    unicode-bidi: isolate;
}

h2{
    font-size: 56px;
}

h3{
    font-size: 36px;
}

p{
    font-size: 24px;
}

a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}

.purple{
    color: #7342d6;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*LANDING ----- 
---------NAVIGATION*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__logo {
    height: 90px;
    width: 90px;
    display: flex;
    margin-bottom: 8px;
    padding-top: 16px;
    padding-bottom: 8px;

}

.nav__logo--title{
    font-size:40px;
    font-weight: 900;
    margin-left: 12px;
    padding-top: 4px;
    padding-bottom: 8px;
    letter-spacing: .6px;
}

.nav__links{
    max-width:1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    position: fixed;
    height: 378px;
    margin: 48px 32px;
    padding: 48px;
    
}

.link {
    margin: 0 24px;
    padding-top: 8px;
    padding-bottom: 4px;
    font-size: 24px;
    font-weight:600;
    letter-spacing: 0.6px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
    align-items: center;
}
.link:hover {
    text-decoration-line: underline;
    text-decoration-color: #7342d6;
    text-decoration-thickness: 2px;
}
.link--primary {
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

/***HEADER BOX****/

.header__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px; /* prevents content from touching screen edges */
 }

.row__column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.header__description {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 40%;
}
.header__container--slogan{
    font-size: 48px;
    font-weight: bold;
}
.header__customers--title{
    width: 100%;
    margin: 16px 0; 
    flex-wrap: wrap;
}
.header__email--input{
    max-width: 60%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    transition:border-color 300ms;
}
.header__email--btn{
    line-height: 1.5;
    padding: 16px 0px;
    margin: 16px 0px;
    z-index: 2;
    height: calc(100%-16px);
    width: 160px;
    max-width: 100%;
    background-color: rgb(100, 21, 255);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 16px;
    border-radius: 500px;
    border-width: initial;
    border-style: none;
    border-image: initial;
    transition: 300ms;

}
.header__email--btn:hover{
    background-color: rgba (60, 13, 153);
}
.header__title--para{
    margin: 20px 0;
    font: 32px;
    color: #243e63;

}
.header__customers--title{
    max-width: 100%;
    color: #a0aec0;
    margin: 48px 0;
}
.header__customers {
    max-width: 100%;
    margin-top: 16px;
    padding-right: 64px;
    opacity: 0.5;

}
.header__img--wrapper {
    max-width: 100%;
}
.header__img {
    width: 100%;
}
