@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Grand+Hotel&family=Roboto:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', 'sans-serif';
    color: #243e63;
}
html {
    scroll-behavior: smooth;
}
body {
    max-width: 100vw;
    overflow-x: hidden;
}
nav {
    height: 108px;
    display: flex;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__logo {
    height: 80px;
    display: flex;
}
.nav__logo--title{
    font-size: 56px;
    font-weight: bold;
}
.nav__links:{
    width: 100%;
    max-width: 1200px;
    padding: 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
