@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Grand+Hotel&family=Roboto:ital,wght@0,500;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', 'sans-serif';
    color: #243e63;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 1280px;
    max-width: 100%;
    overflow-x: hidden;
}

section{
    padding-top: 32px;
} 

nav {
    padding-top: 32px;
    display: flex;
}
h1, h2 {
    line-height: 1.25;
}
h1{
    font-size: 56px;
}

h2{
    font-size: 48px;
    margin: 16px 0; 
    flex-wrap: wrap;
    line-height: 1.5;
    color: grey;
}

p{
    font-size: 36px;
    line-height: 1.5;
}

a{
    text-decoration: none;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;
}

img {
    width: 100%;
}

.purple{
    color: #7342d6;
}

.container {
    padding: 96px 0; 
}

/*LANDING ----- 
---------NAVIGATION*/

nav{
    height: 128px;
    width: 100%;
    max-width: 1280px;
    margin: 0 18px;
    align-items: center;
}

.nav__row{
    width: 100%;
    display: flex;
   justify-content: space-between;
}

.nav__logo {
    display: flex;
    margin: 8px 0;
    padding-bottom: 4px;
}

.nav__logo--img{
    height: 90px;
    width: 90px;
}

.nav__logo--title{
    font-size:56px;
    font-weight: 900;
    margin-left: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    letter-spacing: .6;
 
}

.nav__links{
    max-width: 100%;
    padding-top: 32px;
    text-decoration: none;
}

.link {
    margin: 0 24px;
    padding-top: 24px;
    font-size: 30px;
    font-weight:600;
    letter-spacing: 0.6px;
    border-bottom: 2px solid transparent;
    position: relative;
    transition: all 300ms;
}

.link:hover {
    text-decoration-line: underline;
    text-decoration-color: #7342d6;
    text-decoration-thickness: 2px;
}
.link--primary {
    margin: 0 auto;
    padding: 12px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}

/***HEADER BOX****/

.container__row {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 24px; /* prevents content from touching screen edges */
    direction: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
 }

.header__description {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
 }

.header__container--para{
    max-width: 40%;
    margin: 20px 0;
    font-size: 48px;
    font-weight: bold;
    
}

.header__email {
 }

.header__email--input{
    display: flex;
    flex: 1;                     
    border: none;
    outline: none;
    gap: 12px;
    background: transparent;
    max-width: 100%;
    width: 40%;
    padding: 20px 32px 20px 192px;
    height: 120px;
    border-radius: 500px;
    border: 4px solid rgb(229, 231, 235);
    color: rgb(36, 62, 99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    z-index: -1;
    transition: 300ms;
}
.header__email--btn{
    line-height: 1.5;
    width: 200px;
    margin: 20px 0 0;
    margin-left: 360px;
    padding: 16px 24px;
    z-index: 2;
    height: calc(100%-36px);
    background-color: rgb(100, 21, 255);
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 24px;
    border-radius: 500px;
    border-width: initial;
    border-style: none;
    border-image: initial;
    transition: all 300ms ease;

}
.header__email--btn:hover{
    background-color: rgba (60, 13, 153);
}

.customers__valid {
    max-width: 100%;
    color: #a0aec0;
    margin: 48px 0;
}
.customers__logo {
    max-width: 100%;
    margin-top: 16px;
    padding-right: 16px;
    opacity: 0.5;

}
.description__img--wrapper {
    padding: 16px 24px;
    max-width: 100%;
    width: calc(100%-40%);
}
.description__img{
    width: 100%;
    max-width: 768px;
}
